.main-content {
    margin-left: 225px;
    padding-top: 90px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-body {
    padding: 15px;
    margin-right: 145px;
    border-radius: 20px;
}

.container h3 {
    font-weight: bold !important;
}

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 2px solid gray !important;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 2px solid gray !important;
}

th {
    background-color: #f8f9fa;
    font-weight: bold !important;
    color: #000 !important;
    text-align: center !important;
    vertical-align: middle !important;
    padding: 10px !important;
}

td .btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

td button, td a {
    margin: 0 10px !important;
}

button, a {
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    cursor: not-allowed;
    font-weight: bold !important;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold !important;
}

.btn-danger:hover {
    background-color: #c82333;
}